

@import url('https://fonts.googleapis.com/css?family=Istok Web');

html {
    position: relative;
   	background: grey;

}

body {
    font-family: "Istok Web", sans-serif;
    margin: 10px;
    height: 100%;

    margin: 20px;
    padding: 20px;

    background: white;
}

.profile-photo {
    width: 15%;
    border-radius: 5px;
    padding-top: 25px;

 }

div.header {
	padding-bottom: 0;


}


div.navbar{
padding-top: 0;
  font-size: 15px;
  font-weight: bold;
  padding: 0px;
  border-width 2px;
  border-style: solid;
  border-right: 5px;
  border-top: 0px;



}



.sidebar-right{
    background-color:  	#BEBEBE;
    width: 25%;
    height: 50%;
    float: right;
    position:absolute;
    top: 223px;
    right: 50px;
    padding: 5px;




}


ul{
	margin-left: 20px;
	font-size: 13px;
}

p{

margin-left: 10px;
}

.sidebar-right h3 {
  padding: 5px;
}

.Skillset h2{
	font-weight: bold;
}

.who h2 {
	font-weight: bold;
	padding-top: 0px;
	margin-top: 0px;


}

.PersonalExperience h2{
	font-weight: bold;

}
